@charset "UTF-8";

/* TODAS AS DEMAIS MÍDIAS */

/* 
telas pequenas: até 600px
celular: até 768px
tablet: até 992px
desktop: até 1200px
telas grandes: acima de 1200px
*/

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
    #phone {
        display: none;
    }
    #print {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    #phone {
        display: none;
    }
    #tablet {
        display: block;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    #phone {
        display: none;
    }
    #pc {
        display: block;
    }
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    #phone {
        display: none;
    }
    #tv {
        display: block;
    }
}