@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #20273A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #C05767;
    text-align: center;
    margin: 30px;
}

.container {
    overflow-x: auto;
}

table {
    margin: auto;
    width: 700px;
    text-align: left;
}

.sites {
    color: #e06e7f;
    font-weight: bold;
}

th {
    padding: 20px;
    color: #21678a;
}

td {
    padding: 20px;
}

tbody {
    background-color: #2D3447;
    color: white;
}

tbody > tr:nth-child(odd) {
    background-color: #313C4E;
}

