@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 17, 17);
}

.container {
    overflow-x: auto;
}

.clivre {
    background-color: #08aae6;
}

.cpadrao {
    background-color: #70368E;
}

.cnegocio {
    background-color: #BE4149;
}

.cprofissional {
    background-color: #339676;
}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-collapse: collapse;
    width: 700px;
}

thead {
    color: white;
    height: 150px;
    line-height: 1.8em;
}

thead strong {
    font-size: 2em;
}

thead span {
    font-weight: lighter;
    font-size: .8em;
}

td, th {
    border: 1px solid transparent;
    padding: 5px;
}

tbody td {
    color: white;
    font-size: .8em;
}

tfoot td {
    font-size: .6em;
    padding: 20px 0 35px 0;
}

.button-plano {
    margin: auto;
    font-weight: bold;
    border: 1px solid transparent;
    width: 100px;
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.39);
    transition-duration: .5s;
}

.button-plano:hover {
    cursor: pointer;
    background-color: rgb(99, 78, 78);
    color: white;
}